body{
	margin:0;
	padding:0;
	background:#000;
	color:#271F23;
	font-family:'Atlas Typewriter Web', sans-serif;
	font-size:12px;
	line-height:24px;
	-moz-font-feature-settings: "liga", "kern";
	-moz-font-feature-settings:"liga=1, kern=1";
	-ms-font-feature-settings:"liga", "kern";
	-o-font-feature-settings:"liga", "kern";
	-webkit-font-feature-settings:"liga", "kern";
	font-feature-settings: "liga", "kern";
  overflow-x:hidden !important;
}

#logo{width:50px;height:80px;background:url("assets/logoV.svg") no-repeat top left;position:absolute;top:40px;left:40px;}
#wrapper{position:relative;width:auto;height:100vh;overflow-x:hidden}
#philosophy{width:880px;position:absolute;z-index:4;top:40px;left:440px;}
.philosophy_container{background:#3d4CE0;}



#portfolio{width:840px;position:absolute;z-index:3;top:120px;left:280px;}

#newsletter{width:800px;position:absolute;z-index:2;top:360px;left:80px;}
#archive{width:720px;position:absolute;z-index:1;top:280px;left:40px;}
.container{padding:33px 40px 40px 40px;}
.portfolio_container{background:#BFD3ED;}
#philosophy, #portfolio, #newsletter, #archive {
    transition: transform 0.05s linear;
}



/* From 4.6 */
.newsletter-top-container{background:#EB6649;padding:33px 0px 0px 40px;height:167px;position:inline-block;} /* margin-right:80px for mobile */
.newsletter-top-right{
	background:url("assets/foldArchiveSmall.svg") no-repeat top right;
	height:200px;
	width:120px;
	position:absolute;top:0px;right:0px;
	display:block;
	/*position:absolute;right:0px;top:0px;width:0px;height:0px;
	border-top:0px;
	border-left:0px solid transparent;
	border-right:80px solid transparent;
	border-bottom: 170px solid rgb(212,75,48);
	background:rgba(255,255,255,0);*/
	display:none; /*Toggle for mobile */
}
.newsletter-top-right:hover{
	background:url("assets/foldArchiveBig.svg") no-repeat top right;
	height:200px;
	width:120px;
	position:absolute;top:0px;right:0px;
	display:block;
	/*position:absolute;right:0px;top:0px;width:0px;height:0px;
	border-top:0px;
	border-left:0px solid transparent;
	border-right:80px solid transparent;
	border-bottom: 170px solid rgb(212,75,48);
	background:rgba(255,255,255,0);*/
	/*display:none; Toggle for mobile */
v}
/*.vertical-archive {transform:rotate(-90deg) translate(-113px, 30px);font-size:10px;letter-spacing:2px;}
.vertical-newsletter {transform:rotate(-90deg) translate(-130px, 30px);font-size:10px;letter-spacing:2px;}*/
.newsletter-bottom-container{background: #EB6649; padding: 33px 40px 40px 40px;} 
.newsletter-top-container .title{font-size:32px;line-height:40px;margin:33px 0px 0px 0px;}

.archive-top-container {background:#C5543B;padding:33px 0px 0px 40px;height:167px;}
.clickable {cursor:pointer;}

.footer {padding-top:48px;font-weight:100;color:white;line-height:24px;font-weight:200px;width:180px;}
.portfolio_footer{display:none;width:300px;}
.philosophy_footer {display:none;width:300px;}

.portfolio_container ul li {font-size:12px;cursor:pointer;}
.archive-top-right{
	background:url("assets/foldNewsSmall.svg") no-repeat top right;
	height:200px;
	width:120px;
	position:absolute;top:0px;right:0px;
	display:none;
}
.archive-top-right:hover{
	background:url("assets/foldNewsBig.svg") no-repeat top right;
	height:200px;
	width:120px;
	position:absolute;top:0px;right:0px;
	display:block;
}
.archive-bottom-container{background:#C5543B;padding:0px 40px 40px 40px;}
.archive-bottom-container ul {border-top: 1px solid rgba(39, 31, 35, 1)}
.archive-bottom-container ul li {font-size:12px;font-weight:500;}

.header{font-size:10px;letter-spacing:2px;}
.title{font-size:32px;line-height:40px;margin:33px 0px 86px 0px;}
.text{line-height:24px;padding:0px 200px 0px 40px;}
#philosophy .text{line-height:24px;padding:0px 200px 0px 0px;color:#FFF;}
#pillarContainer, #teamContainer{display:block;font-size:0;margin:33px 0px 86px 0px;}
#philosophy .pillars{width:calc((100% - 80px) / 2);display:inline-block;line-height:24px;color:#FFF;vertical-align:top;font-size:12px;}
#philosophy .pillars .emoji {font-size:18px;}
#philosophy .pillars p{margin:0;padding:0;color:#9EA5EF;font-size:10px;letter-spacing:1px;text-transform:uppercase;font-weight:100}
#philosophy #teamInvest{width:calc((((100% - 80px) / 3) * 2) + 40px);display:inline-block;line-height:24px;vertical-align:top;font-size:12px;}
#philosophy #teamPartners{width:calc(((100% - 80px) / 3));margin-left:40px;display:inline-block;line-height:24px;vertical-align:top;font-size:12px;}
#investHeader{margin-bottom:70px;}
#advisorsHeader{margin-bottom:33px;}
#partnersHeader{float:left;margin:40px 0px 33px 0px;}
.nameJob{float:left;display:inline-block;min-width:160px;margin-bottom:24px;color:#FFF;}
.nameJobLast{float:left;display:inline-block;min-width:160px;margin-bottom:62px;color:#FFF;}
.nameJob p, .nameJobLast p{margin:0;padding:0;}
.job{color:#9EA5EF;}
.bio{float:none;margin:0px 0px 86px 0px;color:#FFF;}
.bio a{color:#9EA5EF;}
.MID{margin:0px 40px 0px 40px;padding:0;}
.news-intro{padding:22px 0px 30px 0px;}
.news-item{padding:22px 0px 30px 0px;}

#newsletter_title {font-size:20px;line-height:28px;}
#newsletter_date {font-size:20px;line-height:48px;}

#newsletter_body {padding:0px 0px 0px 0px;} 
#newsletter_body .title {font-size:12px;font-weight:500;padding:24px 0px 0px 40px;margin:0px 0px 0px -40px;width:100%;;display:inline-block;border-top:1px solid rgba(39, 31, 35, .2);}
#newsletter_body .heading {font-size:12px;font-weight:500;padding:24px 0px 0px 0px;width:100%;margin:0;}
#newsletter_body .subheading {line-height: 24px;padding: 0px 0px 0px 0px;}
#newsletter_body .intro {line-height: 24px;padding: 0px 0px 0px 0px;}
#newsletter_body li {font-size:15;line-height:22px;font-weight:200;}
#newsletter_body .intro b, #newsletter_body heading {font-weight:500;font-style:normal}
#newsletter_body a {font-weight:400; color:#271F23;}
#newsletter_body .desc {line-height: 24px;padding: 0px 0px 24px 0px;}
#newsletter_body table {border:none;}
#newsletter_body .quote {font-size:12px;font-weight:400;padding:24px 0px 0px 0px;width:100%;margin:0;}
#newsletter_body .subquote {font-size:12px;font-weight:500;padding:0px 0px 0px 10px;width:100%;margin:0;display:block}


.border-top{border-top:1px solid rgba(39, 31, 35, .2);}
.white{color:#FFF;}
.number{width:40px;display:inline-block;vertical-align:top;}
.opacity{opacity:0.5;}
.company-name{}
.company-desc{}
h1{font-size:12px;padding:0px 0px 16px 0px;margin:0;display:inline-block;width:calc(100% - 40px);}

ul{list-style-type: none;margin:0;padding:0;}
li{border-bottom:1px solid rgba(39, 31, 35, .2);padding:21px 0px 18px 0px;}
#archive li {cursor:pointer}

ol {padding:0px 0px 0px 0px;}

ol li {
    counter-increment: my-awesome-counter;
    display: flex;
    margin:5px 0px 10px 0px;
    padding:0px;
    border-bottom:none; 
}
ol li::before {
    content:  counter(my-awesome-counter);
    line-height: 1;
    padding:6px 10px 0px 0px;
}


.custom-radios div {
    display: inline-block;
}
.custom-radios input[type="radio"] {
    display: none;
}
.custom-radios input[type="radio"] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.custom-radios input[type="radio"] + label span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    /*border-radius: 50%;*/
    border: 2px solid #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 25px;
}
.custom-radios input[type="radio"] + label span img {
    opacity: 0;
    transition: all 0.1s ease;
}

.custom-radios input[type="radio"]:checked + label span img {
    opacity: 1;
}



#filters{padding:0px 0px 16px 0px;border-bottom:1px solid rgba(39, 31, 35, 1);}
.filter-label{display:inline-block;padding:0;margin-right:8px;margin-left:-4px;width:120px;text-transform:uppercase;font-size:10px;cursor:pointer}
input{opacity:0;cursor:pointer;height:0;width:0;}
input:checked ~ .checkmark:after {display:block;}
/* /// CHECKBOX .checkmark{display:inline-block;height:12px;width:12px;background-color:#FFF;margin:0px 8px 0 16px;}*/
.checkmark{display:inline-block;height:12px;width:12px;background-color:#FFF;border-radius:50%;margin:0px 8px 0px 0px;}
.first{margin-left:0px !important;}
.checkmark:after{content: "";display:none;}
/* /// CHECKBOX .checkmark:after{margin-left:4px;margin-top:1px;width: 3px;height: 7px;border: solid #271F23;border-width: 0 1px 1px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}*/
.checkmark:after{margin-top:4px;margin-left:4px;width:4px;height:4px;border-radius:50%;background:#271F23;}
#newsletter img{display:none;position:fixed;z-index:100;}
#archive .header{padding:0px 0px 86px 0px;/*border-bottom:1px solid rgba(39, 31, 35, 1)*/;}

.SVGcontainer{height:130px;width:130px;}
#ramySVG{width:145px;height:143px;background:url("people/Ramy.svg") no-repeat bottom left;position:absolute;margin-left:-10px;margin-top:-30px;}
#aaronSVG{width:164px;height:146px;background:url("people/Aaron.svg") no-repeat bottom left;position:absolute;margin-left:-10px;margin-top:-35px;}
#farzadSVG{width:126px;height:160px;background:url("people/Farzad.svg") no-repeat bottom left;position:absolute;margin-left:-10px;margin-top:-45px;}
#samitSVG{width:126px;height:160px;background:url("people/Samit.svg") no-repeat bottom left;position:absolute;margin-left:-10px;margin-top:-45px;}









/*/////////////////////////////////////////*/
/*//////////     SEMI-LIQUID     //////////*/
/*/////////////////////////////////////////*/
/*   40px increments, Extra large in js    */
/*/////////////////////////////////////////*/
@media only screen and (min-width: 1320px) and (max-width: 1360px) {
	#portfolio{top:120px;left:240px;}
	#philosophy{top:40px;left:400px;}
	#newsletter{left:80px;}
	#archive{left:40px;}
  .news_footer {display:block;}
  .portfolio_footer {display:none;}
  .philosophy_footer {display:none;}      
}
@media only screen and (min-width: 1280px) and (max-width: 1320px) {
	#portfolio{top:120px;left:240px;}
	#philosophy{top:40px;left:360px;}
	#newsletter{left:80px;}
	#archive{left:40px;}
  .news_footer {display:block;}
  .portfolio_footer {display:none;}
  .philosophy_footer {display:none;}        
}
@media only screen and (min-width: 1240px) and (max-width: 1280px) {
	#portfolio{top:120px;left:200px;}
	#philosophy{top:40px;left:320px;}
	#newsletter{left:80px;}
	#archive{left:40px;}
  .news_footer {display:none;}
  .portfolio_footer {display:block;}
  .philosophy_footer {display:none;}        
}
@media only screen and (min-width: 1200px) and (max-width: 1240px) {
	#portfolio{top:120px;left:120px;}
	#philosophy{top:40px;left:280px;}
	#newsletter{left:80px;}
	#archive{left:40px;}
	.newsletter-top-right{display:none;}
	.archive-top-right{display:none;}
	#logo{width:62px;height:20px;background:url("assets/logoHS.svg") no-repeat top left;top:40px;}
  .news_footer {display:none;}
  .portfolio_footer {display:block;}
  .philosophy_footer {display:none;}        
}
/* HIDE ARCHIVE */
@media only screen and (min-width: 1160px) and (max-width: 1200px) {
	#portfolio{top:120px;left:80px;}
	#philosophy{top:40px;left:240px;}
	#newsletter{top:280px;left:40px;}
	#archive{display:none;top:280px;left:40px;width:800px;}
	#logo{width:62px;height:20px;background:url("assets/logoHS.svg") no-repeat top left;top:40px;}
	.newsletter-top-container{background:#EB6649;padding:33px 0px 0px 40px;margin-right:120px;}
	.newsletter-top-right{display:block;}
	.archive-top-container{margin-right:120px;}    
	.archive-top-right{display:block;}  
  ol li::before {content:  "0" counter(my-awesome-counter);padding:6px 30px 0px 0px;}
  .news_footer {display:none;}
  .portfolio_footer {display:block;}
  .philosophy_footer {display:none;}        
}
@media only screen and (min-width: 1120px) and (max-width: 1160px) {
	#portfolio{top:120px;left:80px;}
	#philosophy{top:40px;left:200px;}
	#newsletter{top:240px;left:40px;}
	#archive{display:none;top:240px;left:40px;width:800px;}
	#logo{width:62px;height:20px;background:url("assets/logoHS.svg") no-repeat top left;top:40px;}
	.newsletter-top-container{background:#EB6649;padding:33px 0px 0px 40px;margin-right:120px;}
	.newsletter-top-right{display:block;}
	.archive-top-container{margin-right:120px;}    
	.archive-top-right{display:block;}
  ol li::before {content:  "0" counter(my-awesome-counter);padding:6px 30px 0px 0px;}    
  .news_footer {display:none;}
  .portfolio_footer {display:block;}
  .philosophy_footer {display:none;}        
}
@media only screen and (min-width: 1080px) and (max-width: 1120px) {
	#portfolio{top:120px;left:80px;}
	#philosophy{top:80px;left:160px;}
	#newsletter{top:200px;left:40px;}
	#archive{display:none;top:200px;left:40px;;width:800px;}
	#logo{width:62px;height:20px;background:url("assets/logoHS.svg") no-repeat top left;top:30px;}
	.newsletter-top-container{background:#EB6649;padding:33px 0px 0px 40px;margin-right:120px;}
	.newsletter-top-right{display:block;}
	.archive-top-container{margin-right:120px;}    
	.archive-top-right{display:block;}
  ol li::before {content:  "0" counter(my-awesome-counter);padding:6px 30px 0px 0px;}    
  .news_footer {display:none;}
  .portfolio_footer {display:block;}
  .philosophy_footer {display:none;}        
}
@media only screen and (min-width: 1040px) and (max-width: 1080px){
	#portfolio{top:80px;left:120px;}
	#philosophy{top:120px;left:80px;width:840px;}
	#newsletter{top:160px;left:40px;}
	#archive{display:none;top:160px;left:40px;width:800px;}  
	#logo{width:62px;height:20px;background:url("assets/logoHS.svg") no-repeat top left;top:30px;}
	.newsletter-top-container{background:#EB6649;padding:33px 0px 0px 40px;margin-right:120px;}
	.newsletter-top-right{display:block;}
	.archive-top-container{margin-right:120px;}    
	.archive-top-right{display:block;}
  ol li::before {content:  "0" counter(my-awesome-counter);padding:6px 30px 0px 0px;}
  .news_footer {display:none;}
  .portfolio_footer {display:block;}
  .philosophy_footer {display:none;}        
}
@media only screen and (min-width: 1000px) and (max-width: 1040px){
	#portfolio{top:80px;left:120px;}
	#philosophy{top:120px;left:80px;}
	#newsletter{top:160px;left:40px;}
	#archive{display:none;top:160px;left:0px;width:800px;}
	#logo{width:62px;height:20px;background:url("assets/logoHS.svg") no-repeat top left;top:30px;}	
	.newsletter-top-container{background:#EB6649;padding:33px 0px 0px 40px;margin-right:120px;}
	.newsletter-top-right{display:block;}
	.archive-top-container{margin-right:120px;}    
	.archive-top-right{display:block;}
  ol li::before {content:  "0" counter(my-awesome-counter);padding:6px 30px 0px 0px;}    
  .news_footer {display:none;}
  .portfolio_footer {display:block;}
  .philosophy_footer {display:none;}        
}
@media only screen and (min-width: 700px) and (max-width: 1000px){
	#portfolio{top:80px;left:80px;width:calc(100% - 80px);}
	#philosophy{top:120px;left:40px;width:calc(100% - 40px);}
	#newsletter{top:160px;left:0px;width:100%}
	#archive{display:none;top:160px;left:0px;width:100%;}
	#logo{width:62px;height:20px;background:url("assets/logoHS.svg") no-repeat top left;top:30px;}
	.text{line-height:24px;padding:0px 40px 0px 40px;}
	.title{font-size:24px;line-height:32px;margin:33px 0px 86px 0px;}
	.newsletter-top-container .title{font-size:24px;line-height:32px;}	
	.newsletter-top-container{background:#EB6649;padding:33px 0px 0px 40px;margin-right:120px;}
	.newsletter-top-right{display:block;}
	.archive-top-container{margin-right:120px;}    
	.archive-top-right{display:block;}
  ol li::before {content:  "0" counter(my-awesome-counter);padding:6px 30px 0px 0px;}    
  .news_footer {display:none;}
  .portfolio_footer {display:block;}
  .philosophy_footer {display:none;}        
}
/*////////// MOBILE /////////*/
@media only screen and (max-width: 700px){
  #portfolio{top:120px;left:40px;width:calc(100% - 40px);}
	#philosophy{top:160px;left:0px;width:calc(100% - 40px);}
	#newsletter{top:80px;left:80px;width:calc(100% - 40px);}
	#archive{display:none;top:80px;left:80px;width:calc(100% - 40px);}
	#logo{width:62px;height:20px;background:url("assets/logoHS.svg") no-repeat top left;top:30px;}
	.text{line-height:24px;padding:0px 20px 0px 20px;}
	.title{font-size:24px;line-height:32px;margin:33px 0px 43px 0px;}	
	.newsletter-top-container .title{font-size:24px;line-height:32px;}
	.newsletter-top-container{background:#EB6649;padding:15px 0px 0px 40px;margin-right:120px}
	.newsletter-top-right{display:block;}
        #newsletter_body {padding:0px 0px 0px 0px;}
	#newsletter_title {font-size:16px;line-height:24px;}
	#newsletter_date {font-size:16px;line-height:36px;}	
	.archive-top-container{padding:16px 0px 0px 20px;margin-right:120px;}
	.archive-top-right{display:block; }
  
  .container{padding:16px 40px 20px 40px;}

	#philosophy .text{line-height:24px;padding:0px 0px 0px 0px;}
	#philosophy .pillars{width:100%;display:inline-block;line-height:24px;color:#FFF;vertical-align:top;font-size:14px;}
	.MID{margin:16px 0px 16px 0px;}
	#philosophy #teamInvest{width:100%;}
	#philosophy #teamPartners{width:100%;margin-left:0px;}
	.nameJob{width:100%;}

  ol li::before {content:  "0" counter(my-awesome-counter);padding:6px 30px 0px 0px;}    
  .news_footer {display:none;}
  .portfolio_footer {display:none;}
  .philosophy_footer {display:block;}      
  .filter-label{display:inline-block;padding:0;margin-right:8px;margin-left:-4px;width:115px;text-transform:uppercase;font-size:10px}
}

